<div class="w-screen p-10">
  <h1 class="text-3xl font-bold">Shortened URL creator</h1>

  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4 my-4 w-xs">  
    <label class="label">Original URL</label>
    <input type="text" class="input w-full" placeholder="My awesome page" />
    <button class="btn btn-neutral mt-4 hover:btn-primary w-full" (click)="openModal()">Create shortened URL</button>
  </fieldset>
</div>

<app-modal [id]="this.modalId()" textModal="Short URL created successfully!" titleModal="Success"/>